<div style="border-radius: 10px; border-style: solid; padding: 2%;">
    <form [formGroup]="formGroup" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="80">
            <mat-label>{{'common.searchLabel' | translate }}</mat-label>
            <input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
            <button matPrefix mat-icon-button (click)="filter()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <div>
            <button mat-button class="actionButton" (click)="changeViewEdit()">
                {{(viewMode ? 'manage_areas.edit_association' : 'common.annul') | translate}}
            </button>
        </div>
        <div><button mat-button class="actionButton" (click)="saveAssociation()" *ngIf="!viewMode">
            {{'common.save' | translate}}</button></div>
    </form>
    <table mat-table [dataSource]="dataSourceAssParks" class="mat-elevation-z8" matSort
        [style.display]="dataSourceAssParks.data.length === 0 ? 'none' : ''">

        <ng-container matColumnDef="idPark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.idPark}} </td>
        </ng-container>

        <ng-container matColumnDef="namePark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.namePark}} </td>
        </ng-container>

        <ng-container matColumnDef="associated" *ngIf="!viewMode">
            <th mat-header-cell *matHeaderCellDef> Associazione </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.associated" color="primary"></mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsParks"
            [style.display]="dataSourceAssParks.data.length === 0 ? 'none' : ''"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsParks;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        [style.display]="dataSourceAssParks.data.length === 0  ? 'none' : ''">
    </mat-paginator>
</div>