<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayoutAlign="end">
        <button mat-button class="actionButton" [routerLink]="'../permission-management/add-permission'">{{"manage-permission.add" | translate }}</button>
    </div>
    <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row wrap" fxLayoutGap="20px">
        <mat-card *ngFor="let status of parkStatus" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30"
            class="margin-bottom">
            <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>{{status.parkName}}</div>
                    <mat-icon [style.color]="status.status === 'OK' ? 'green' : 'red'">radio_button_checked</mat-icon>
                </div>
                <ng-container *ngIf="status.incidentList.length > 0 else noIncidents">
                    <mat-card-subtitle>
                        {{("dashboard.lastIncident" | translate) + status.incidentList[0].errorMessage}}<br>
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Data: {{status.incidentList[0].startDate | date: 'dd/MM/YYYY HH:mm'}}<br>
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Device: {{status.incidentList[0].device}}
                    </mat-card-subtitle>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-card-subtitle>
                            Gate: {{status.incidentList[0].gateName}}
                        </mat-card-subtitle>
                        <button mat-icon-button *ngIf="operations | getPermissionPipe: 'view-park-incident-dashboard'"
                            [routerLink]="['../incidents-management']" [state]="{parkName: status.parkName}">
                            <mat-icon style="color: red"
                                matTooltip="{{'common.edit' | translate}}">warning</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #noIncidents>
                    <mat-card-subtitle>Nessun incident rilevato</mat-card-subtitle>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
    <app-table-incidents *ngIf="parkStatus.length > 0" [parkStatus]="parkStatus"></app-table-incidents>
</div>