<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayoutAlign="end">
        <button mat-button class="actionButton" [routerLink]="'../permission-management/add-permission'">Inserisci
            permesso</button>
    </div>
    <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row wrap" fxLayoutGap="20px">
        <mat-card *ngFor="let status of parkStatus" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30"
            class="margin-bottom">
            <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>{{status.parkName}}</div>
                    <mat-icon [style.color]="status.status === 'OK' ? 'green' : 'red'">radio_button_checked</mat-icon>
                </div>
                <mat-card-subtitle *ngIf="status.incidentList[0]">
                    Ultimo incident rilevato: {{status.incidentList[0].errorMessage}}<br>
                    Data: {{status.incidentList[0].startDate | date: 'dd/MM/YYYY HH:mm'}}<br>
                    Device: {{status.incidentList[0].device}}
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card-subtitle fxLayoutAlign="center">Lista incident rilevati</mat-card-subtitle>
    <div fxLayoutAlign="center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="startDate"
            matSortDirection="asc">
            <ng-container matColumnDef="idIncident">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.incident.idIncident}} </td>
            </ng-container>
    
            <ng-container matColumnDef="errorMessage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Descrizione incident</th>
                <td mat-cell *matCellDef="let element"> {{element.incident.errorMessage}} </td>
            </ng-container>
    
            <ng-container matColumnDef="parkName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Parcheggio</th>
                <td mat-cell *matCellDef="let element"> {{element.parkName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="device">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Device</th>
                <td mat-cell *matCellDef="let element"> {{element.incident.device}} </td>
            </ng-container>
    
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Data incident </th>
                <td mat-cell *matCellDef="let element"> {{element.incident.startDate | date: 'dd/MM/YYYY HH:mm'}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        [style.display]="dataSource.data.length === 0 ? 'none' : ''">
    </mat-paginator>
    <div *ngIf="dataSource.data.length === 0"> nessun incident presente</div>
</div>