<mat-card fxLayout="column" fxLayoutGap="20px">
    <app-title-gate [namePark]="namePark" [idPark]="idPark"> </app-title-gate>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="search" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field appearance="outline" fxFlex="{{idPark ? 78 : 84}}">
                <mat-label>cerca</mat-label>
                <input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
                <button matPrefix mat-icon-button (click)="idPark ? callGetAPIFiltered() : callGetAPI()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-slide-toggle formControlName="ctrlActive" color="primary" (change)="callGetAPI()">
                {{search.controls['ctrlActive'].value ? 'attivi' : 'non attivi'}}
            </mat-slide-toggle>
            <button mat-raised-button class="actionButton" *ngIf="idPark"
                [routerLink]="'../parking-management'">Indietro</button>
            <button mat-raised-button class="actionButton" (click)="addEditGate()">Aggiungi</button>
        </form>
        <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="idGate"
            matSortDirection="asc" [style.display]="dataSource.data.length === 0 ? 'none' : ''">
            <ng-container matColumnDef="idGate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idGate}} </td>
            </ng-container>

            <ng-container matColumnDef="gateDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Descrizione </th>
                <td mat-cell *matCellDef="let element"> {{element.gateDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="parkAssociate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Parcheggio associato </th>
                <td mat-cell *matCellDef="let element"> {{element.park.namePark}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: end;">
                    <button mat-icon-button><mat-icon style="color:#479AED" matTooltip="modifica"
                            (click)="addEditGate(element)">edit</mat-icon></button>
                    <button mat-icon-button><mat-icon style="color: red" matTooltip="cancella"
                            (click)="deleteGate(element.idGate)">delete</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                [style.display]="dataSource.data.length === 0 ? 'none' : ''"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            [style.display]="dataSource.data.length === 0 ? 'none' : ''">
        </mat-paginator>
        <div *ngIf="dataSource.data.length === 0"> nessun varco presente</div>
    </mat-card-content>
</mat-card>