<mat-card>
    <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>
            <div fxLayoutGap="10px">
                <span> {{"manage_gates.statusTitle" | translate}}{{gate.gateDescription}}</span>
                <mat-icon class="center-icon-title" [ngStyle]="{'color':gate.status === 'OK' ? 'green' : 'red' }">radio_button_checked</mat-icon>
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            Antenna IP: {{gate.ipAntenna}} - {{"manage_gates.antennaPort" | translate}}: {{gate.portAntenna}} -
            {{"manage_gates.gateDirection" | translate}}: {{gate.gateDirection}}
            - {{"manage_gates.associatedPark" | translate}}: {{gate.park.namePark}} - Status: {{gate.status}}
        </mat-card-subtitle>
        <div fxLayoutGap="10px">
            <span><button mat-button class="actionButton" routerLink="../">{{'common.back' | translate}}</button></span>
            <span> <button mat-button class="actionButton" (click)="testGateConnection()">{{'manage_gates.gateStatus.connectionTest' | translate}}</button></span>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="gateStatus" fxLayout="column" fxLayoutGap="50px">
        <div fxLayoutGap="10px">
            <div class="border-grey-center" fxFlex="50">
                <div fxLayoutGap="10px">
                  <p style=" font-weight: bold !important; color: black !important; text-align: center;">
                      {{gateStatus.status[0].device_id }} - Status: {{gateStatus.status[0].status }}
                      <mat-icon *ngIf="gateStatus.status[0].status === 'KO'" class="center-icon" matTooltip="ANTENNA OFFLINE" [matTooltipPosition]="'above'">warning</mat-icon>
                  </p>
                  <div class="center-button-container">
                    <button mat-raised-button disabled style="border: 1px solid grey; background-color:white ; color: black; margin-bottom: 0.5em;"> Antenna {{gateStatus.functionality.antenna}} </button>
                  </div>
                  <div class="center-button-container">
                    <button mat-raised-button class="actionButton" [disabled]="!isActive"  (click)="disactive()" *ngIf="operations | getPermissionPipe: 'disactivate-gate'">{{'common.disactivate' | translate}} </button>
                    <button mat-raised-button class="actionButton" [disabled]="isActive" (click)="active()" *ngIf="operations | getPermissionPipe: 'activate-gate'">{{'common.activate' | translate}}</button>
                    <button mat-raised-button class="actionButton" (click)="reboot()" *ngIf="operations | getPermissionPipe: 'reboot-gate'">{{'manage_gates.gateStatus.reboot' | translate}}</button>
                  </div>
                </div>
            </div>
            <div class="border-grey-center" fxFlex="50">
                <div fxLayoutGap="10px">
                  <p style=" font-weight: bold !important; color: black !important; text-align: center;">
                      {{gateStatus.status[1].device_id }} - Status: {{gateStatus.status[1].status }}
                      <mat-icon *ngIf="gateStatus.status[1].status === 'KO'" class="center-icon" matTooltip="SBARRA OFFLINE" [matTooltipPosition]="'above'">warning</mat-icon>
                  </p>
                  <div class="center-button-container">
                    <button mat-raised-button disabled style="border: 1px solid grey; background-color:white ; color: black; margin-bottom: 0.5em;">Modalità Sbarra: {{gateStatus.functionality.barrier}} </button>
                  </div>

                  <div class="center-button-container">
                    <button mat-raised-button [disabled]="(gateStatus.functionality.barrier === 'open')? true  : false" class="actionButton" (click)="openGate()" *ngIf="operations | getPermissionPipe: 'open-gate'">{{'manage_gates.gateStatus.openBarrier' | translate}}</button>
                    <button mat-raised-button [disabled]="(gateStatus.functionality.barrier === 'closed')? true  : false" class="actionButton" (click)="closeGate()" *ngIf="operations | getPermissionPipe: 'close-gate'">{{'manage_gates.gateStatus.closeBarrier' | translate}}</button>
                    <button mat-raised-button [disabled]="(gateStatus.functionality.barrier === 'automatic')? true  : false" class="actionButton" (click)="autoGate()" *ngIf="operations | getPermissionPipe: 'auto-gate'">{{'manage_gates.gateStatus.autoBarrier' | translate}}</button>
                  </div>
                </div>
            </div>
        </div>
        <div fxLayoutGap="10px">
            <div class="border-grey-center" fxFlex="50">
                <p style=" font-weight: bold !important; color: black !important; text-align: center;">
                    {{gateStatus.status[2].device_id }} - Status: {{gateStatus.status[2].status }}
                    <mat-icon *ngIf="gateStatus.status[2].status === 'KO' "class="center-icon" matTooltip="FOTOCELLULA OFFLINE" [matTooltipPosition]="'above'">warning</mat-icon>
                </p>
            </div>
            <div class="border-grey" fxFlex="50">
                <p style=" font-weight: bold !important; color: black !important; text-align: center;">
                    {{'manage_gates.gateStatus.lists' | translate}}
                </p>
                <mat-grid-list cols="2" rowHeight="40px">
                    <mat-grid-tile>
                        <button mat-raised-button disabled style="border: 1px solid grey; background-color:white ; color: black;"> {{gateStatus.lists.tlp }} </button>
                     </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button disabled style="border: 1px solid grey; background-color:white ; color: black;"> {{gateStatus.lists.efc}} </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button disabled style="border: 1px solid grey; background-color:white ; color: black;"> {{gateStatus.lists.set}} </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button disabled style="border: 1px solid grey; background-color:white ; color: black;"> {{gateStatus.lists.time}} </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <mat-progress-bar *ngIf="!complete else title" mode="indeterminate"></mat-progress-bar>
        <ng-template #title>
            <mat-card-subtitle>{{dataSource.data.length === 0 ? ('manage_gates.gateStatus.noIncidents' | translate) : ('manage_gates.gateStatus.incidentsDetected' | translate)}}</mat-card-subtitle>
        </ng-template>
        <!-- tabella incidenti -->

        <ng-scrollbar class="my-scrollbar table-container" style="height: 36em !important;">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            [style.display]="dataSource.data.length === 0 ? 'none' : ''">

            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.dateStart" | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy H:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.dateEnd" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy H:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="gateName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.gate" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.gate.gateDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="parkName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.park" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.gate.park.namePark}} </td>
            </ng-container>

            <ng-container matColumnDef="device">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.component" | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{("manage_incidents.device." + element.device) | translate}} </td>
          </ng-container>

          <ng-container matColumnDef="errorCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.errorCode" | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{ ("manage_incidents.error." + element.errorCode) | translate }}</td>
          </ng-container>

          <ng-container matColumnDef="errorMessage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.errorMessage" | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{ element.errorMessage }}</td>
          </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.status" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.status ? ('manage_incidents.resolved' | translate) : ('manage_incidents.ongoing' | translate) }}</td>
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"
                  [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ng-scrollbar>

    </mat-card-content>
</mat-card>

<mat-card>
  <div class="row">
    <mat-card-header>
      <div class="col-12 d-flex justify-content-between">
        <span> {{"manage_gates.statusTitle" | translate}}{{gate.gateDescription}}</span>
        <mat-icon class="center-icon-title" [ngStyle]="{'color':gate.status === 'OK' ? 'green' : 'red' }">radio_button_checked</mat-icon>
      </div>
    </mat-card-header>
  </div>
</mat-card>
