<mat-card>
    <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>
            <div fxLayoutGap="10px">
                <span>{{gate.gateDescription}}</span>
                <mat-icon [style.color]="gate.status === 'OK' ? 'green' : 'red'">radio_button_checked</mat-icon>
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            Antenna: {{gate.ipAntenna}} - Porta: {{gate.portAntenna}} - Direzione: {{gate.gateDirection}}
        </mat-card-subtitle>
        <span><button mat-button class="actionButton" routerLink="../">{{'common.back' | translate}}</button></span>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="50px">
        <div fxLayoutGap="10px">
            <div class="border-grey" fxFlex="50">
                <mat-card-subtitle> Azioni su antenna</mat-card-subtitle>
                <div fxLayoutGap="10px">
                    <button mat-button class="actionButton">Test connessione</button>
                    <button mat-button class="actionButton">Riavvio</button>
                    <button mat-button class="actionButton">Disattiva</button>
                    <button mat-button class="actionButton">Attiva</button>
                </div>
            </div>
            <div class="border-grey" fxFlex="50">
                <mat-card-subtitle> Azioni sulla sbarra</mat-card-subtitle>
                <mat-radio-group fxLayoutGap="10px">
                    <mat-radio-button value="1">Chiusa</mat-radio-button>
                    <mat-radio-button value="2">Aperta</mat-radio-button>
                    <mat-radio-button value="2">Automatica</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-card-subtitle>Incident rilevati</mat-card-subtitle>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            [style.display]="dataSource.data.length === 0 ? 'none' : ''">

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.dateStart" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.dateEnd" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="errorCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.errorCode" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.errorCode }}</td>
            </ng-container>

            <ng-container matColumnDef="errorMessage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.errorMessage" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.errorMessage }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>