.center-th {
    display: flex;
    justify-content: center !important;
    height: inherit;
  }
  
  .center-td{
    text-align: center !important; 
    /*  display: flex !important;
    justify-content: center !important;  */
  }

  .center-icon {
    vertical-align: middle;

  }

  .vadid{
    color: green;
  }

  .expiring{
    color: orange;
  }

  .expired{
    color: red;
  }
