<mat-card fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card-title> {{'manage-permission.title' | translate}}</mat-card-title>
        <button mat-raised-button class="actionButton" *ngIf="operations | getPermissionPipe: 'insert-permission'"
            [routerLink]="'add-permission'">
            {{'manage-permission.add' | translate}}</button>
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="formGroup" fxLayout="row" fxLayoutGap="20px">
            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>{{'manage-permission.searchRange' | translate}}</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="ctrlStart">
                    <input matEndDate formControlName="ctrlEnd" (dateChange)="callGetAPI()">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error>{{'manage-permission.rangeError' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>{{'manage-permission.searchByOBU' | translate}}</mat-label>
                <input matInput type="search" formControlName="ctrlObuSearch" autocomplete="off">
                <button matPrefix mat-icon-button (click)="callGetAPI()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>{{'manage-permission.searchByPermissionType' | translate}}</mat-label>
                <input matInput type="search" formControlName="ctrlPermTypeSearch" autocomplete="off">
                <button matPrefix mat-icon-button (click)="callGetAPI()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-slide-toggle formControlName="ctrlActive" color="primary" (change)="callGetAPI()">
                {{formGroup.controls['ctrlActive'].value ? ('common.active' | translate) : ('common.disactive' |
                translate)}}
            </mat-slide-toggle>
        </form>
        <div style="height: 5px;">
            <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="idPermission"
            matSortDirection="asc" [style.display]="dataSource.data.length === 0 ? 'none' : ''">

            <ng-container matColumnDef="idPermission">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idPermission}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-permission.permissionCategory' |
                    translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.category === 'P' ? ('manage-permission.permanent' |
                    translate) : ('manage-permission.temporary' | translate)}} </td>
            </ng-container>

            <ng-container matColumnDef="permissionType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-permission.permissionName' |
                    translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.permissionType; else Null">
                        {{element.permissionType.permissionTypeDesc}}
                    </div>
                    <ng-template #Null>
                        <div style="margin-left: 22%">
                            {{"--"}}
                        </div>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef> {{'common.creationDate' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.creationDate | date: 'dd/MM/yyyy hh:MM'}} </td>
            </ng-container>

            <ng-container matColumnDef="codiceObu">
                <th mat-header-cell *matHeaderCellDef> {{'manage-permission.obuCode' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.obu.obuCode}} </td>
            </ng-container>

            <ng-container matColumnDef="validationDateStart">
                <th mat-header-cell *matHeaderCellDef> {{'manage-permission.validationDateStart' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.validationDateStart | date: 'dd/MM/yyyy hh:MM'}} </td>
            </ng-container>

            <ng-container matColumnDef="validationDateEnd">
                <th mat-header-cell *matHeaderCellDef> {{'manage-permission.validationDateEnd' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.validationDateEnd | date: 'dd/MM/yyyy hh:MM'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: end;">
                    <button mat-icon-button>
                        <mat-icon style="color:#51b1a1;" matTooltip="{{'manage-permission.details_edit' | translate}}"
                            *ngIf="operations | getPermissionPipe: 'edit-permission'" [routerLink]="'edit-permission'"
                            [state]="{permission: element}">edit</mat-icon>
                    </button>
                    <button mat-icon-button
                        *ngIf="formGroup.controls['ctrlActive'].value && operations | getPermissionPipe: 'delete-permission'">
                        <mat-icon style="color: red" matTooltip="{{'common.disactivate' | translate}}"
                            (click)="deletePermission(element.idPermission)">delete</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="!formGroup.controls['ctrlActive'].value && operations | getPermissionPipe: 'activate-permission'">
                        <mat-icon style="color: #51b1a1;" matTooltip="{{'common.activate' | translate}}"
                            (click)="activePermission(element.idPermission)">refresh</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            [style.display]="dataSource.data.length === 0 ? 'none' : '' ">
        </mat-paginator>
        <div *ngIf="dataSource.data.length === 0"> {{'manage-permission.noPermission' | translate}}</div>
    </mat-card-content>
</mat-card>