<mat-card fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card-title> {{'manage-permission.title' | translate}}</mat-card-title>
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="formGroup">

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
            <!-- range di ricerca -->
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>{{'manage-permission.searchRange' | translate}}</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="ctrlStart">
                  <input matEndDate formControlName="ctrlEnd" (dateChange)="callGetAPI()">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error>{{'manage-permission.rangeError' | translate}}</mat-error>
            </mat-form-field>

            <!-- ricerca per Obu -->
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>{{'manage-permission.searchByOBU' | translate}}</mat-label>
              <input matInput type="search" formControlName="ctrlObuSearch" autocomplete="off">
              <button matPrefix mat-icon-button (click)="callGetAPI()">
                  <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>

            <div style="justify-content: end; display: flex;" fxFlex="30" fxLayoutGap="20px">
              <mat-slide-toggle formControlName="ctrlActive" color="primary" (change)="callGetAPI()">
                {{formGroup.controls['ctrlActive'].value ? ('common.active' | translate) :
                ('common.disactive' | translate)}}
              </mat-slide-toggle>

              <button mat-raised-button class="actionButton" *ngIf="operations | getPermissionPipe: this.permissionSwitch?.add" style="height: 2.6em;"
                [routerLink]="(this.permissionSwitch?.add === 'insert-permission')? 'add-permission' : 'add-permission-interporto'" [state]="{daily: false}"> {{'common.add' | translate}} </button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <!-- ricerca er categoria di permesso -->
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>{{ "manage-permission.seachPermCategory" | translate}}</mat-label>
              <mat-select (selectionChange)="callGetAPI()" formControlName="category">
                <mat-option [value]="undefined">{{ 'manage-permission.ALL' | translate }}</mat-option>
                <mat-option [value]="'D'">{{ "manage-permission.daily" | translate }}</mat-option>
                <mat-option [value]="'T'">{{ "manage-permission.temporary" | translate }}</mat-option>
                <mat-option [value]="'P'">{{ "manage-permission.permanent" | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>{{ "manage-permission.searchPark" | translate}}</mat-label>
              <mat-select (selectionChange)="callGetAPI()" formControlName="idPark">
                <mat-option [value]="undefined">{{ 'manage-permission.ALL' | translate }}</mat-option>
                <mat-option *ngFor="let park of parks" [value]="park.idPark">{{ park.namePark }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- ricerca per tipo permesso -->
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>{{'manage-permission.searchByPermissionType' | translate}}</mat-label>
              <input matInput type="search" formControlName="ctrlPermTypeSearch" autocomplete="off">
              <button matPrefix mat-icon-button (click)="callGetAPI()">
                  <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
        <mat-radio-group [(ngModel)]="permissionStatus" color="primary" fxLayoutGap="5px"
            (change)="applyFilter($event.value)">
            <mat-radio-button [value]="'ALL'">{{'manage-permission.ALL' | translate}}</mat-radio-button>
            <mat-radio-button [value]="'VALID'">{{'manage-permission.VALID' | translate}}</mat-radio-button>
            <mat-radio-button [value]="'EXPIRING'">{{'manage-permission.EXPIRING' | translate}}</mat-radio-button>
            <mat-radio-button [value]="'EXPIRED'">{{'manage-permission.EXPIRED' | translate}}</mat-radio-button>
        </mat-radio-group>
        <div style="height: 5px;">
            <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>

        <!-- tabella permessi -->
        <div class="root-table-container" style="height: 36em;">
          <ng-scrollbar class="my-scrollbar table-container" style="height: 32em !important;">
            <div *ngIf="dataSource.data.length === 0 && complete"> {{'manage-permission.noPermission' | translate}}</div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="modificationDate"
              matSortDirection="asc" [style.display]="dataSource.data.length === 0 ? 'none' : ''" style="width: 100%;">

              <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'manage-permission.permissionCategory' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.category === 'P' ?
                      ('manage-permission.permanent' | translate) : element.category === 'D' ? ('manage-permission.daily'
                      | translate) : ('manage-permission.temporary' | translate)}} </td>
              </ng-container>

              <ng-container matColumnDef="permissionStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-permission.permissionStatus' |
                  translate}} </th>
                  <td mat-cell *matCellDef="let element" > {{'manage-permission.' + element.permissionStatus | translate}}
                  <mat-icon [ngClass]="element.permissionStatus | iconColor" class="center-icon">timer</mat-icon>
                  </td>
              </ng-container>

              <ng-container matColumnDef="permissionType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'manage-permission.permissionName' | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                      <div *ngIf="element.permissionType; else Null">
                          {{element.permissionType.permissionTypeDesc}}
                      </div>
                      <ng-template #Null>
                          <div style="margin-left: 22%">
                              {{"--"}}
                          </div>
                      </ng-template>
                  </td>
              </ng-container>

              <ng-container matColumnDef="modificationDate">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'common.modificationDate' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.modificatinDate ? element.modificationDate : element.creationDate | date:'dd/MM/yyyy H:mm:ss'}} </td>
              </ng-container>

              <ng-container matColumnDef="modificationUser">
                <th mat-header-cell *matHeaderCellDef>{{ 'common.modificationUser' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.modificationUser? element.modificationUserFirstname +' '+ element.modificationUserLastname :
                  element.creationUserFirstname +' '+ element.creationUserLastname }}</td>
              </ng-container>

              <ng-container matColumnDef="codiceObu">
                  <th mat-header-cell *matHeaderCellDef> {{'manage-permission.obuCode' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.obu.obuCode}} </td>
              </ng-container>

              <ng-container matColumnDef="validationDateStart">
                  <th mat-header-cell *matHeaderCellDef> {{'manage-permission.validationDateStart' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{ (element.validationDateStart | date: 'dd/MM/yyyy') }} </td>
              </ng-container>

              <ng-container matColumnDef="validationDateEnd">
                  <th mat-header-cell *matHeaderCellDef> {{'manage-permission.validationDateEnd' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{ element.category === 'P' ? '' : element.validationDateEnd | date: 'dd/MM/yyyy' }} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element" style="text-align: end;">
                      <button mat-icon-button>
                          <mat-icon class="edit-icon" matTooltip="{{'manage-permission.details_edit' | translate}}"
                              *ngIf="operations | getPermissionPipe: this.permissionSwitch.edit"  [routerLink]="(this.permissionSwitch.add === 'edit-permission')? 'edit-permission' : 'edit-permission-interporto'"
                              [state]="{permission: element}">edit</mat-icon>
                      </button>
                      <button mat-icon-button
                          *ngIf="formGroup.controls['ctrlActive'].value && operations | getPermissionPipe: 'disactivate-permission'">
                          <mat-icon style="color: red" matTooltip="{{'common.disactivate' | translate}}"
                              (click)="onDisactivate(element.idPermission)">power_off</mat-icon>
                      </button>
                      <button mat-icon-button
                          *ngIf="!formGroup.controls['ctrlActive'].value && operations | getPermissionPipe: 'activate-permission'">
                          <mat-icon class="refreshIcon" matTooltip="{{'common.activate' | translate}}"
                              (click)="activePermission(element.idPermission)">refresh</mat-icon>
                      </button>
                      <button mat-icon-button
                      *ngIf="!formGroup.controls['ctrlActive'].value && operations | getPermissionPipe: 'delete-permission'">
                      <mat-icon style="color: red" matTooltip="{{'common.delete' | translate}}"
                        (click)="deletePermission(element.idPermission)">delete</mat-icon></button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"
                  [style.display]="dataSource.data.length === 0 ? 'none' : ''"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          </ng-scrollbar>

          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
              [style.display]="dataSource.data.length === 0 ? 'none' : '' ">
          </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
