<mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-title>{{permission ? ('manage-permission.editPermissionTitle' | translate) :
        ('manage-permission.addPermissionTitle' | translate) }}</mat-card-title>
    <mat-card-content>
        <div style="height: 5px;">
            <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>

        <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="10px">
            <ng-container *ngIf="!this.permission else edit">
                <mat-radio-group formControlName="ctrlCategory" color="primary" fxLayoutGap="10px" fxFlexAlign="center"
                    (change)="changeCategory()">
                    <mat-radio-button [value]="'T'">{{'manage-permission.temporary' | translate}}</mat-radio-button>
                    <mat-radio-button [value]="'D'">{{'manage-permission.daily' | translate}}</mat-radio-button>
                    <mat-radio-button [value]="'P'">{{'manage-permission.permanent' | translate}}</mat-radio-button>
                </mat-radio-group>
            </ng-container>
            <ng-template #edit>
                 <mat-radio-group formControlName="ctrlCategory" color="primary" fxLayoutGap="10px" fxFlexAlign="center"
                    (change)="changeCategory()" >
                    <mat-radio-button [value]="'T'">{{'manage-permission.temporary' | translate}}</mat-radio-button>
                    <mat-radio-button [value]="'D'">{{'manage-permission.daily' | translate}}</mat-radio-button>
                    <mat-radio-button [value]="'P'">{{'manage-permission.permanent' | translate}}</mat-radio-button>
                </mat-radio-group> 
            </ng-template>
            <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="20"
                    fxFlex.gt-md="20">
                    <mat-label>{{'manage-permission.obuInsert' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlObu">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label> {{'manage-permission.areaSelection' | translate}}</mat-label>
                    <mat-select formControlName="ctrlAreaIdList" placeholder="Aree" multiple>
                        <mat-select-filter [displayMember]="'areaName'" [array]="areas"
                            (filteredReturn)="areaFiltered = $event" required></mat-select-filter>
                        <mat-option *ngFor="let item of areaFiltered" [value]="item.idArea">
                            {{item.areaName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'manage-permission.areaAssociationError' | translate}}</mat-error>
                </mat-form-field>

                <ng-container *ngIf="formGroup.get('ctrlCategory').value === 'D' else notDaily">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="20"
                        fxFlex.gt-md="20">
                        <mat-label>{{'manage-permission.validationDateStart' | translate}}</mat-label>
                        <input matInput readonly [matDatepicker]="pickerStart" formControlName="ctrlDateStart"
                            (dateChange)="dateValidator()">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker disabled="true" #pickerStart></mat-datepicker>
                        <mat-error *ngIf="formGroup.controls['ctrlDateStart'].hasError('required')">
                            {{'manage-permission.invalidDate' | translate}}
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls['ctrlDateStart'].hasError('invalidDate')">
                            {{'manage-permission.dateError' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="20"
                        fxFlex.gt-md="20">
                        <mat-label>{{'manage-permission.validationDateEnd' | translate}}</mat-label>
                        <input matInput readonly [matDatepicker]="pickerEnd" formControlName="ctrlDateEnd"
                            (dateChange)="dateValidator()">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker disabled="true" #pickerEnd></mat-datepicker>
                        <mat-error> {{'manage-permission.invalidDate' | translate}}</mat-error>
                    </mat-form-field>
                    <div fxLayoutGap="10px">
                        <mat-form-field appearance="outline">
                            <mat-label> {{'manage-permission.startTime' | translate}}</mat-label>
                            <input matInput readonly formControlName="ctrlHourStart" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label> {{'manage-permission.endTime' | translate}}</mat-label>
                            <input matInput readonly formControlName="ctrlHourEnd" required>
                        </mat-form-field>
                    </div>
                </ng-container>

                <ng-template #notDaily>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="20"
                        fxFlex.gt-md="20">
                        <mat-label>{{'manage-permission.validationDateStart' | translate}}</mat-label>
                        <input matInput [matDatepicker]="pickerStart" formControlName="ctrlDateStart"
                            (dateChange)="dateValidator()">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                        <mat-error *ngIf="formGroup.controls['ctrlDateStart'].hasError('required')">
                            {{'manage-permission.invalidDate' | translate}}
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls['ctrlDateStart'].hasError('invalidDate')">
                            {{'manage-permission.dateError' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="20"
                        fxFlex.gt-md="20">
                        <mat-label>{{'manage-permission.validationDateEnd' | translate}}</mat-label>
                        <input matInput [matDatepicker]="pickerEnd" formControlName="ctrlDateEnd"
                            (dateChange)="dateValidator()">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                        <mat-error> {{'manage-permission.invalidDate' | translate}}</mat-error>
                    </mat-form-field>
                    <div *ngIf="formGroup.get('ctrlCategory').value === 'T'" fxLayoutGap="10px">
                        <mat-form-field appearance="outline">
                            <mat-label> {{'manage-permission.startTime' | translate}}</mat-label>
                            <input matInput formControlName="ctrlHourStart" [ngxTimepicker]="pickerHourStart"
                                [format]="24" required>
                            <ngx-material-timepicker-toggle matSuffix
                                [for]="pickerHourStart"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #pickerHourStart></ngx-material-timepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label> {{'manage-permission.endTime' | translate}}</mat-label>
                            <input matInput formControlName="ctrlHourEnd" [ngxTimepicker]="pickerHourEnd" [format]="24"
                                required>
                            <ngx-material-timepicker-toggle matSuffix
                                [for]="pickerHourEnd"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #pickerHourEnd></ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                </ng-template>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <mat-form-field *ngIf="formGroup.get('ctrlCategory').value === 'P'" appearance="outline" fxFlex="100"
                    fxFlex.gt-xs="100" fxFlex.gt-lg="40" fxFlex.gt-md="40">
                    <mat-label> {{'manage-permission.permissionTypeSelection' | translate}}</mat-label>
                    <mat-select formControlName="ctrlTypePermissionList">
                        <mat-select-filter [displayMember]="'permissionTypeDesc'" [array]="permissionTypes"
                            (filteredReturn)="permissionTypesFiltered = $event" required></mat-select-filter>
                        <mat-option *ngFor="let item of permissionTypesFiltered" [value]="item.permissionTypeId">
                            {{item.permissionTypeDesc}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'manage-permission.permissionTypeAssociationError' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
            <button mat-raised-button  class="actionButton" [routerLink]="'../'">{{'common.cancel' | translate}}</button>
            <button mat-raised-button class="actionButton" [disabled]="formGroup.invalid || !formGroup.dirty"
                (click)="addEditPermission()">{{'common.save' | translate}}</button>
        </div>
    </mat-card-content>
</mat-card>