<mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-title>{{"manage_transits.title" | translate}}</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="formGroup">
            <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
                <mat-form-field appearance="outline">
                    <mat-label>{{"manage_transits.searchRange" | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start">
                        <input matEndDate formControlName="end" (dateChange)="callGetAPI()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error>{{"manage_transits.rangeError" | translate}} </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>{{"manage_transits.searchByOBU" | translate}}</mat-label>
                    <input matInput type="search" formControlName="ctrlOBUSearch" autocomplete="off">
                    <button matPrefix mat-icon-button (click)="callGetAPI()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>{{"manage_transits.searchByPark" | translate}}</mat-label>
                    <input matInput type="search" formControlName="ctrlParkSearch" autocomplete="off">
                    <button matPrefix mat-icon-button (click)="callGetAPI()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>{{"manage_transits.searchByGate" | translate}}</mat-label>
                    <input matInput type="search" formControlName="ctrlGateSearch" autocomplete="off">
                    <button matPrefix mat-icon-button (click)="callGetAPI()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex="40" fxFlex.gt-xs="60" fxFlex.gt-lg="30">
                    <mat-label>{{"manage_transits.validationType" | translate}}</mat-label>
                    <mat-select formControlName="ctrlValidationType" placeholder="{{'manage_transits.validationType' | translate}}" (selectionChange)="callGetAPI()">
                        <mat-option value="CDC">CDC</mat-option>
                        <mat-option value="Antenna">Antenna</mat-option>
                        <mat-option value="">{{"common.all" | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40" fxFlex.gt-xs="60" fxFlex.gt-lg="30">
                    <mat-label>{{"manage_transits.status" | translate}}</mat-label>
                    <mat-select formControlName="ctrlStatus" placeholder="{{'manage_transits.status' | translate}}" (selectionChange)="callGetAPI()">
                        <mat-option value="true">{{"manage_transits.complete" | translate}}</mat-option>
                        <mat-option value="false">{{"manage_transits.incomplete" | translate}}</mat-option>
                        <mat-option value="">{{"common.all" | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            [style.display]="dataSource.data.length === 0 ? 'none' : ''">

            <ng-container matColumnDef="idTransit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idTransit}} </td>
            </ng-container>

            <ng-container matColumnDef="codeObu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_transits.obuCode" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.obu.obuCode}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_transits.dateStart" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> {{"manage_transits.dateEnd" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="gate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_transits.gate" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.gate.gateDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="park">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_transits.park" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.gate.park.namePark}} </td>
            </ng-container>

            <ng-container matColumnDef="validationType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_transits.validationType" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.validationType}} </td>
            </ng-container>

            <ng-container matColumnDef="flagPassed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_transits.transitStatus" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.flagPassed ? ("manage_transits.complete" | translate) : ("manage_transits.incomplete" | translate) }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            [style.display]="dataSource.data.length === 0 ? 'none' : '' ">
        </mat-paginator>
        <div *ngIf="dataSource.data.length === 0"> {{"manage_transits.noTransits" | translate}}</div>
    </mat-card-content>
</mat-card>