<div class="row">
  <div class="col-12">
    <mat-card>

      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <mat-card-title> {{"common.edit" | translate}} Area: {{area.areaName}}</mat-card-title>
          <button mat-raised-button class="actionButton" [routerLink]="'../'">{{'common.back' | translate}}</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-card-content>

            <div class="row">
              <div class="col-12 mb-2">
                <button mat-button class="actionButton"
                  (click)="!viewModeUser ? saveDetails() : null; viewModeUser = !viewModeUser">
                  {{(viewModeUser ? 'manage_areas.edit_details' : 'common.save') | translate}}
                </button>
                <button mat-button class="actionButton mx-3" *ngIf="!viewModeUser"
                    (click)="viewModeUser = !viewModeUser">{{'common.annul' | translate}}</button>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <form [formGroup]="formGroup">
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'manage_areas.areaName' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ctrlAreaName" [readonly]="viewModeUser"
                          [required]="!viewModeUser" [style.opacity]="viewModeUser ? '0.5' : ''">
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.creationDate' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ctrlCreationDate" readonly [style.opacity]="'0.5'">
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-12" style="height: 5px;">
                <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-tab-group mat-align-tabs="center">
                  <mat-tab label="{{'manage_areas.associatedUsers' | translate}}">
                    <ng-scrollbar class="my-scrollbar" style="height: 36em !important;">
                      <!-- tabella utenti associati -->
                      <app-table-associated-users [allAssociatedUsers]="users" [idArea]="area.idArea"
                          (updateAssociatedUsers)="apiGetAssociation()"></app-table-associated-users>
                    </ng-scrollbar>

                  </mat-tab>
                  <mat-tab label="{{'manage_areas.associatedParks' | translate}}">
                    <ng-scrollbar class="my-scrollbar" style="height: 36em !important;">
                      <!-- tabella parcheggi associati -->
                      <app-table-associated-park [allAssociatedParks]="assParks" [idArea]="area.idArea"
                        (updateAssociatedUsers)="apiGetAssociation()"></app-table-associated-park>
                    </ng-scrollbar>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>
