<mat-card fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card-title> Area {{area.areaName}}</mat-card-title>
        <div fxLayoutGap="5px">
            <button mat-button class="actionButton" *ngIf="viewModeUser else editButton" (click)="viewModeUser = !viewModeUser">modifica</button>
            <ng-template #editButton>
                <button mat-button class="actionButton">salva</button>
                <button mat-button class="actionButton" (click)="viewModeUser = !viewModeUser">annulla</button>
            </ng-template>
            <button mat-raised-button class="actionButton" [routerLink]="'../'">Indietro</button>
        </div>
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <mat-card-subtitle>Dettagli</mat-card-subtitle>
        <form [formGroup]="formGroup">
            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label>{{'manage_areas.areaName' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlAreaName" [readonly]="viewModeUser" [required]="!viewModeUser" [style.opacity]="viewModeUser ? '0.5' : ''">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label>{{'common.creationDate' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlCreationDate" readonly [style.opacity]="'0.5'">
                </mat-form-field>
            </div>
        </form>
        <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Utenti associati">
                <app-table-associated-users [allAssociatedUsers]="users" [idArea]="area.idArea"></app-table-associated-users>
            </mat-tab>
            <mat-tab label="Parcheggi associati">
                <!--componente-->
                <app-table-associated-park [allAssociatedParks]="assParks"></app-table-associated-park>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>