<mat-card fxLayout="column" fxLayoutGap="20px">
  <app-title-park [areaName]="areaName" [idArea]="idArea"> </app-title-park>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <form [formGroup]="search" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-form-field appearance="outline" fxFlex="84">
        <mat-label>{{"common.searchLabel" | translate}}</mat-label>
        <input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
        <button matPrefix mat-icon-button (click)="callGetAPI()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-slide-toggle formControlName="ctrlActive" color="primary" (change)="callGetAPI()">
        {{search.controls['ctrlActive'].value ? ('manage_parks.active' | translate) : ('manage_parks.inactive' | translate)}}
      </mat-slide-toggle>
      <button mat-raised-button class="actionButton" *ngIf="idArea"
        [routerLink]="'../area-management'">{{"common.back" | translate}}</button>
      <button mat-raised-button class="actionButton" (click)="addPark()">{{"common.add" | translate}}</button>
    </form>
    <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
      [style.display]="dataSource.data.length === 0 ? 'none' : ''">
      <!-- Property binding: e nel ts, datasource ha l'array di elementi -->
      <!-- Position Column -->
      <ng-container matColumnDef="idParcheggio">
        <!-- matHeaderCellDef: direttiva strutturale di Angular Material, definisce l'header della colonna -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <!--matCellDef: direttiva strutturale di Angular Material, definisce il contenuto della colonna -->
        <td mat-cell *matCellDef="let element"> {{element.idPark}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeParcheggio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_parks.parkName" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.namePark}} </td>
      </ng-container>

      <ng-container matColumnDef="indirizzo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_parks.parkAddress" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} {{element.location}} {{element.cap}}
          {{element.country}} </td>
      </ng-container>

      <ng-container matColumnDef="creationUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"manage_parks.creationUser" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.creationUser }} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.creationDate" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'medium' }} </td>
      </ng-container>


      <ng-container matColumnDef="modificationUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.modificationUser" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.modificationUser }} </td>
      </ng-container>

      <ng-container matColumnDef="modificationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.modificationDate" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.modificationDate | date:'medium' }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="text-align: end;">
          <button mat-icon-button [routerLink]="['edit-park']"
            [state]="{ park: element}">
            <mat-icon style="color:#479AED" matTooltip="{{'common.longEdit' | translate}}">edit</mat-icon>
          </button>
          <button mat-icon-button *ngIf="search.controls['ctrlActive'].value else reactive"><mat-icon style="color: red"
              matTooltip="{{'common.disactivate' | translate}}" (click)="deletePark(element.idPark)">delete</mat-icon></button>
          <ng-template #reactive>
            <button mat-icon-button><mat-icon style="color: #479AED" matTooltip="{{'common.activate' | translate}}"
                (click)="activePark(element.idPark)">refresh</mat-icon></button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"
        [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
      [style.display]="dataSource.data.length === 0 ? 'none' : '' ">
    </mat-paginator>
    <div *ngIf="dataSource.data.length === 0"> {{"manage_parks.noParks" | translate}}</div>
  </mat-card-content>
</mat-card>
