.calendar {
    width: 30%;
  }

.list {
    width: 40%;
  }

  .year{
    width: 20%;
  }


/* larghezza select anno */
/* mat-form-field{
  max-width: 50% !important;
} */

.mat-form-field-flex{
  width: 100%;
}

mat-select{
  max-width: 100% !important;
}
