<!-- <mat-card fxLayout="column" fxLayoutGap="30px">
    <mat-card-title>{{"select_holidays.title" | translate}}</mat-card-title>
    <mat-select class="year" appearance="outline" required [(ngModel)]="defaultYear" placeholder="Choose a year" (selectionChange)="callGetAPI()">
        <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
        </mat-option>
    </mat-select>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <div style="height: 5px;">
            <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxLayout="row" fxLayoutAlign="left start" fxLayoutGap="20px">
              <mat-calendar class="calendar" matPrefix  #pickerClasses  ></mat-calendar>  
             <mat-form-field class="list">
                <ngx-multiple-dates [matDatepicker]="picker" placeholder="Holidays" name="holidays"
                    [(ngModel)]="holidays2">
                </ngx-multiple-dates>
            </mat-form-field> 
            <mat-form-field class="full-width">
                <ngx-multiple-dates [matDatepicker]="pickerClasses" placeholder="Classes"
                                    [classes]="classes" name="modelClasses" [(ngModel)]="modelClasses">
                </ngx-multiple-dates>
                <mat-datepicker-toggle matPrefix [for]="pickerClasses"></mat-datepicker-toggle>
                <mat-datepicker #pickerClasses></mat-datepicker> 
              </mat-form-field>
              <button  mat-raised-button color="primary" (click)="addCalendar()"> Invia lista</button>
        </div>
    </mat-card-content>
</mat-card> -->

<mat-card fxLayout="column" fxLayoutGap="30px">
    <mat-card-title>{{"select_holidays.title" | translate}}</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
    <mat-form-field appearance="outline" fxFlex="20" >
        <mat-label>Tooltip position</mat-label>
        <mat-select class="year" appearance="outline" fxFlex="20" required [(ngModel)]="defaultYear" placeholder="Choose a year"
            (selectionChange)="callGetAPI()">
            <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <mat-chip-list #chipList aria-label="Choose a date" (click)="picker.open()">
                <mat-chip *ngFor="let value of model" [selectable]="false" [removable]="true" (removed)="remove(value)">
                    {{ value | date }}
                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                </mat-chip>
                <input [value]="resetModel" matInput [matDatepicker]="picker" placeholder="Choose a date"
                    (dateChange)="dateChanged($event)" [matChipInputFor]="chipList" hidden />
            </mat-chip-list>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="init" [dateClass]="dateClass"></mat-datepicker>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="addCalendar(defaultYear)"> {{ ("select_holidays.update" |
                translate) + defaultYear}}</button>
        </div>
    </mat-card-content>
</mat-card>