<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>{{ 'manage_logs.title' | translate }}</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="callGetAPI()" [formGroup]="formGroup">
          <div class="row">
            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [ngxMatDatetimePicker]="picker" placeholder="Scegli una data" formControlName="start">
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [stepMinute]="30"></ngx-mat-datetime-picker>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <input (dateChange)="callGetAPI()" matInput [ngxMatDatetimePicker]="picker2" placeholder="Scegli una data" formControlName="end">
                <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker2 [stepMinute]="30"></ngx-mat-datetime-picker>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'manage_logs.searchByUsername' | translate }}</mat-label>
                <input matInput type="search" autocomplete="off" formControlName="name" (submit)="callGetAPI()">
                <button matPrefix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'manage_logs.searchByComponent' | translate }}</mat-label>
                <mat-select (selectionChange)="callGetAPI()" formControlName="componentName" >
                  <mat-option [value]="undefined">Tutti</mat-option>
                  <mat-option *ngFor="let c of compNames" [value]="c" (click)="changeOpShowed()">{{ "manage_logs." +c | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'manage_logs.searchByOperation' | translate }}</mat-label>
                <mat-select (selectionChange)="callGetAPI()" formControlName="operation" >
                  <mat-option [value]="undefined">Tutti</mat-option>
                  <mat-option [value]="op" *ngFor="let op of showOpNames">{{ "manage_logs."+op | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>

        <div style="height: 5px;">
          <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>

        <div class="row">
          <div class="col-12 root-table-container">
            <div *ngIf="dataSource.data.length === 0 && complete">{{ "manage_logs.noLogs" | translate }}</div>

            <ng-scrollbar class="my-scrollbar table-container" style="height: 33em !important;">
              <div fxLayout="row">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width: 100%;"
                  [style.display]="dataSource.data.length === 0 ? 'none' : ''">

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "manage_logs.date" | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd/MM/yyyy H:mm:ss' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="nomeUtente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "manage_logs.nameUser" | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.nomeUtente +' '+ element.cognomeUtente }}</td>
                  </ng-container>

                  <ng-container matColumnDef="nomeOperazione">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "manage_logs.operation" | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ "manage_logs." +element.nomeOperazione | translate }}</td>
                  </ng-container>

                  <ng-container matColumnDef="nomeComponente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "manage_logs.component" | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.nomeComponente + " - "+ element.nameLoggedObj }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"
                    [style.display]="dataSource.data.length === 0 ? 'none' : ''"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </ng-scrollbar>

            <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
              [style.display]="dataSource.data.length === 0? 'none' : '' ">
            </mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
