<mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-title>{{'manage_permission_type.title' | translate}}</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="search" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field appearance="outline" fxFlex="84">
                <mat-label>{{'common.searchLabel' | translate}}</mat-label>
                <input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
                <button matPrefix mat-icon-button (click)="callGetAPI()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-slide-toggle formControlName="ctrlActive" color="primary" (change)="callGetAPI()">
                {{(search.controls['ctrlActive'].value ? 'common.active' : 'common.disactive') | translate}}
            </mat-slide-toggle>
            <button mat-raised-button class="actionButton" type="button" [routerLink]="'add-permission-type'">{{'common.add' | translate}}</button>
        </form>
        <div  style="height: 5px;">
        <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            [style.display]="dataSource.data.length === 0 ? 'none' : ''">

            <ng-container matColumnDef="idTipoPermesso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.permissionTypeId}} </td>
            </ng-container>

            <ng-container matColumnDef="descrizioneTipoPermesso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage_permission_type.name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.permissionTypeDesc}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: end;">
                  <button mat-icon-button  [routerLink]="'edit-permission-type'" [state]="{ permissionType: element}">
                    <mat-icon style="color:#51b1a1;" matTooltip="{{'manage_permission_type.details_edit' | translate}}">edit</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="search.controls['ctrlActive'].value else reactive"><mat-icon style="color: red"
                      matTooltip="{{'common.disactivate' | translate}}" (click)="deletePermissionType(element.permissionTypeId)">delete</mat-icon></button>
                  <ng-template #reactive>
                    <button mat-icon-button><mat-icon style="color: #51b1a1;" matTooltip="{{'common.activate' | translate}}"
                        (click)="activePermissionType(element.permissionTypeId)">refresh</mat-icon></button>
                  </ng-template>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            [style.display]="dataSource.data.length === 0 ? 'none' : '' ">
        </mat-paginator>
        <div *ngIf="dataSource.data.length === 0"> {{'manage_permission_type.noPermissionType' | translate}}</div>
    </mat-card-content>
</mat-card>
