/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '@angular/material/theming';


//FONT
$custom-typography: mat-typography-config(
  $font-family:'Montserrat, sans-serif'
);

@include mat-core($custom-typography);

html,
body {
  font-family: 'Montserrat', sans-serif !important;
}

.mat-card-title{
  font-weight: 600;
}

@media screen and (max-width: 1900px) {
  .mat-list-item{
    margin: 1% !important;
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 40px !important;
  }
}

// template
.example-sidenav {
    background: #283c74 !important;
}

h3 {
    color: white !important;
}

.example-sidenav{
    .menu-link {
        color: white !important;

        mat-icon {
            color: white !important;
        }

        &:hover {
            color: #d4d8e3 !important;

            mat-icon {
                color: #d4d8e3 !important;
            }
        }
    }

}

.selected {
    background-color: #3e5082 !important;
}

/* .selected:hover {
    a {
        &:hover {
            //vuoto
        }
    }
} */

.border-grey {
    border-color: darkgray;
    border-radius: 10px;
    border-style: solid;
    padding: 2%;
}

// button
.actionButton {
    background-color: #283c74;
    color: white;
}

.edit-icon {
    color: #283c74 ;
}

// manage-users
.editIcon {
    color: #283c74 !important;
}

.refreshIcon {
    color: #283c74 !important;
}

/* snackbar */

.ERROR {
    background-color: #ff0000 !important;
    color: white !important;
}

.WARN {
    background-color: #eed202 !important;
    color: white !important;
}

.INFO {
    background-color: #5cb85c !important;
    color: white !important;
}

.mat-simple-snackbar-action {
    color: white !important;
}

.table-container{
  padding: 0.5em;
  max-height: 36em;
}

.my-scrollbar {
  --scrollbar-thumb-color: white;
}

.ng-native-scrollbar-hider .ng-scroll-viewport{
  padding: 0.5em 1em;
}

body{
  overflow: hidden;
}

.root-table-container{
  height: 38em;
}
