/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
// template
.example-sidenav {
    background: #49beaa !important;
}

a {
    color: #0d2a47 !important;
    mat-icon {
        color: #0d2a47 !important;
    }
    &:hover {
        color: blue !important;
    }
}

.selected {
    background-color: #51b1a1 !important;
}

.selected:hover {
    a {
        &:hover {
            color: #0d2a47 !important;
        }
    }
}

.border-grey {
    border-color: darkgray;
    border-radius: 10px;
    border-style: solid;
    padding: 2%;
}

// button
.actionButton {
    background-color: #51b1a1;
    color: white;
}

// manage-users
.editIcon {
    color: #51b1a1 !important;
}

.refreshIcon {
    color: #51b1a1 !important;
}

/* snackbar */

.ERROR {
    background-color: #ff0000 !important;
    color: white !important;
}

.WARN {
    background-color: #eed202 !important;
    color: white !important;
}

.INFO {
    background-color: #5cb85c !important;
    color: white !important;
}

.mat-simple-snackbar-action {
    color: white !important;
}
