<div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center" [style.padding]="'20px'">
        <img [src]="header.imgSidebar" alt="headerImg" class="header-img">
        <h3>{{header.title}}</h3>
    </div>
    <mat-nav-list>
        <mat-list-item *ngFor="let menuItem of menuItems" routerLinkActive="selected">
            <a [routerLink]="['/', menuItem.route]">
                <mat-icon>{{ menuItem.icon }}
                </mat-icon>
                <span>{{menuItem.name}}</span>
            </a>
        </mat-list-item>
    </mat-nav-list>
</div>