<mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-title>{{"manage_incidents.incidentTitle" | translate}}</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="formGroup">
            <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
            
                <mat-form-field appearance="outline" fxFlex="15">
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="start">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [stepMinute]="5" > </ngx-mat-datetime-picker>
                 </mat-form-field>

                 <mat-form-field appearance="outline" fxFlex="15">
                    <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="end" (dateChange)="callGetAPI()">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker2 [stepMinute]="1"> </ngx-mat-datetime-picker>
                 </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>{{"manage_incidents.parkSearch" | translate}}</mat-label>
                    <input matInput type="search" formControlName="ctrlParkSearch" autocomplete="off">
                    <button matPrefix mat-icon-button (click)="callGetAPI()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>{{"manage_incidents.gateSearch" | translate}}</mat-label>
                    <input matInput type="search" formControlName="ctrlGateSearch" autocomplete="off">
                    <button matPrefix mat-icon-button (click)="callGetAPI()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex="40" fxFlex.gt-xs="60" fxFlex.gt-lg="30">
                    <mat-label>{{"manage_incidents.component" | translate}}</mat-label>
                    <mat-select formControlName="ctrlComponent" placeholder="{{'manage_incidents.component' | translate}}" (selectionChange)="callGetAPI()">
                        <mat-option value="FC">{{"manage_incidents.photocell" | translate}}</mat-option>
                        <mat-option value="Antenna">{{"manage_incidents.antenna" | translate}}</mat-option>
                        <mat-option value="Barrier">{{"manage_incidents.bar" | translate}}</mat-option>
                        <mat-option value="">{{"common.all" | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40" fxFlex.gt-xs="60" fxFlex.gt-lg="30">
                    <mat-label>{{"manage_incidents.errorCode" | translate}}</mat-label>
                    <mat-select formControlName="ctrlErrorCode" placeholder="{{'manage_incidents.errorCode' | translate}}" (selectionChange)="callGetAPI()">
                        <mat-option value="Errore 1">{{"manage_incidents.error1" | translate}}</mat-option>
                        <mat-option value="Errore 2">{{"manage_incidents.error2" | translate}}</mat-option>
                        <mat-option value="">{{"common.all" | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="40" fxFlex.gt-xs="60" fxFlex.gt-lg="30">
                    <mat-label>{{"manage_incidents.status" | translate}}</mat-label>
                    <mat-select formControlName="ctrlStatus" placeholder="{{'manage_incidents.status' | translate}}" (selectionChange)="callGetAPI()">
                        <mat-option value="Risolto"> {{"manage_incidents.resolved" | translate}}</mat-option>
                        <mat-option value="In corso">{{"manage_incidents.ongoing" | translate}}</mat-option>
                        <mat-option value="">{{"common.all" | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div  style="height: 5px;">
        <mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            [style.display]="dataSource.data.length === 0 ? 'none' : ''">

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.dateStart" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy H:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"common.dateEnd" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/yyyy H:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="gateName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.gate" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.gate.gateDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="parkName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.park" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.gate.park.namePark}} </td>
            </ng-container>

            <ng-container matColumnDef="device">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.component" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.device}} </td>
            </ng-container>

            <ng-container matColumnDef="errorCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.errorCode" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.errorCode }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"manage_incidents.status" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.status ? ('manage_incidents.resolved' | translate) : ('manage_incidents.ongoing' | translate) }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            [style.display]="dataSource.data.length === 0 ? 'none' : '' ">
        </mat-paginator>
        <div *ngIf="dataSource.data.length === 0"> {{"manage_incidents.noIncidents" | translate}}</div>
    </mat-card-content>
</mat-card>